{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Program Admissions</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

    <header>
        <h1>UniAdvisr</h1>
    </header>

    <main class="landing-page">
        <section class="hero">
            <p>Welcome to UniAdvisr - Empowering University Application Advisors</p>
            <p>UniAdvisr is a centralized web platform built specifically for university application agency advisors. Our goal is to simplify and streamline the entire student application process—from initial evaluation to offer acceptance.</p>
            <div class="hero-buttons">
                <a href="{% url 'signin' %}" class="button-style">Sign In</a>
                <a href="{% url 'signup' %}" class="button-style">Sign Up</a>
            </div>
        </section>

        <section class="features">
            <h2>💡 Why UniAdvisr</h2>
            <div class="feature-container">
                <div class="feature-box">
                    <h3>Evaluate Students with Ease</h3>
                    <p>Effortlessly upload and process student documents with automated data extraction. Quickly assess GPA, academic experience, project background, and program fit.</p>
                </div>
                <div class="feature-box">
                    <h3>Event Organization</h3>
                    <p>Plan and manage seminars, interviews, and campus events.</p>
                </div>
                <div class="feature-box">
                    <h3>Track Applications in One Place</h3>
                    <p>Stay on top of every application with a powerful dashboard.</p>
                </div>
                
            </div>
        </section>

       
    </main>

    <footer>
        <p>&copy; 2025 UniAdvisr. All rights reserved.</p>
    </footer>

</body>
</html>
